<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map { height: 90vh; } /* Adjusted height to allow space for the button */
        #loadButton,#enterButton,#getpathButton11,#move11,#getpathButton12,#move12,#getpathButton13,#move13 {
            width: 10%;
            padding: 10px;
            text-align: center;
            background-color: #f8f9fa;
            border: 1px solid #ccc;
            cursor: pointer;
            float:left;
        }

    </style>
</head>
<body>
    <div id="map"></div>
    <div id="loadButton">Load all Data</div>
    <div id="enterButton">Enter First Puzzle</div>
    <div id="getpathButton11">GET PATH11</div>
    <div id="move11">MOVE 11</div>
    <div id="getpathButton12">GET PATH12</div>
    <div id="move12">MOVE 12</div>
    <div id="getpathButton13">GET PATH13</div>
    <div id="move13">MOVE 13</div>
    <script>
        var map = L.map('map').setView([55.9533, -3.1883], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data © OpenStreetMap contributors'
        }).addTo(map);

        // Function to load and display GeoJSON data
        function loadGeoJson() {
            fetch('/geojson')
                .then(response => response.json())
                .then(data => {
                    L.geoJson(data, {
                        onEachFeature: function (feature, layer) {
                            if (feature.properties) {
                                layer.bindPopup(Object.keys(feature.properties).map(key => `${key}: ${feature.properties[key]}`).join('<br />'));
                            }
                        }
                    }).addTo(map);
                });
        }
        
        // Function to load and display puzzle 1 polygon
        function loadPuzzle1() {
            fetch('/enterPuzzle1')
                .then(response => response.json())
                .then(data => {
                    L.geoJson(data, {
                        onEachFeature: function (feature, layer) {
                            if (feature.properties) {
                                layer.bindPopup(Object.keys(feature.properties).map(key => `${key}: ${feature.properties[key]}`).join('<br />'));
                            }
                        }
                    }).addTo(map);
                });
        }

        // Function to load and display paths
        function loadPaths11() {
            const paths = ['/path/1/s1', '/path/1/s2', '/path/1/s3'];

            // use Promise.all to apply for multiple paths
            Promise.all(paths.map(path => fetch(path)))
                .then(responses => Promise.all(responses.map(response => response.json())))
                .then(dataArray => {
                    // dataArray includes json for each path
                    dataArray.forEach(data => {
                        L.geoJson(data, {
                            onEachFeature: function (feature, layer) {
                                if (feature.properties) {
                                    layer.bindPopup(Object.keys(feature.properties).map(key => `${key}: ${feature.properties[key]}`).join('<br />'));
                                }
                            }
                        }).addTo(map);
                    });
                })
                .catch(error => console.error('Error fetching paths:', error));
        }

        // Function to first move in puzzle 1 polygon
        function loadMove11() {
            fetch('/move/11')
                .then(response => response.json())
                .then(data => {
                    L.geoJson(data, {
                        onEachFeature: function (feature, layer) {
                            if (feature.properties) {
                                layer.bindPopup(Object.keys(feature.properties).map(key => `${key}: ${feature.properties[key]}`).join('<br />'));
                            }
                        }
                    }).addTo(map);
                });
        }
        
        // Function to load and display paths
        function loadPaths12() {
            const paths = ['/path/1/12', '/path/1/13'];

            // use Promise.all to apply for multiple paths
            Promise.all(paths.map(path => fetch(path)))
                .then(responses => Promise.all(responses.map(response => response.json())))
                .then(dataArray => {
                    // dataArray includes json for each path
                    dataArray.forEach(data => {
                        L.geoJson(data, {
                            onEachFeature: function (feature, layer) {
                                if (feature.properties) {
                                    layer.bindPopup(Object.keys(feature.properties).map(key => `${key}: ${feature.properties[key]}`).join('<br />'));
                                }
                            }
                        }).addTo(map);
                    });
                })
                .catch(error => console.error('Error fetching paths:', error));
        }

        // Function to first move in puzzle 1 polygon
        function loadMove12() {
            fetch('/move/12')
                .then(response => response.json())
                .then(data => {
                    L.geoJson(data, {
                        onEachFeature: function (feature, layer) {
                            if (feature.properties) {
                                layer.bindPopup(Object.keys(feature.properties).map(key => `${key}: ${feature.properties[key]}`).join('<br />'));
                            }
                        }
                    }).addTo(map);
                });
        }


        // Function to load and display path1
        function loadPaths13() {
            fetch('/path/1/23')
                .then(response => response.json())
                .then(data => {
                    L.geoJson(data, {
                        onEachFeature: function (feature, layer) {
                            if (feature.properties) {
                                layer.bindPopup(Object.keys(feature.properties).map(key => `${key}: ${feature.properties[key]}`).join('<br />'));
                            }
                        }
                    }).addTo(map);
                });
        }
        
        // Function to first move in puzzle 1 polygon
        function loadMove13() {
            fetch('/move/13')
                .then(response => response.json())
                .then(data => {
                    L.geoJson(data, {
                        onEachFeature: function (feature, layer) {
                            if (feature.properties) {
                                layer.bindPopup(Object.keys(feature.properties).map(key => `${key}: ${feature.properties[key]}`).join('<br />'));
                            }
                        }
                    }).addTo(map);
                });
        }

        // Add event listener to the button
        document.getElementById('loadButton').addEventListener('click', loadGeoJson);
        document.getElementById('enterButton').addEventListener('click', loadPuzzle1);
        document.getElementById('getpathButton11').addEventListener('click', loadPaths11);
        document.getElementById('move11').addEventListener('click', loadMove11);
        document.getElementById('getpathButton12').addEventListener('click', loadPaths12);
        document.getElementById('move12').addEventListener('click', loadMove12);
        document.getElementById('getpathButton13').addEventListener('click', loadPaths13);
        document.getElementById('move13').addEventListener('click', loadMove13);
    </script>
</body>
</html>
